.metric-widget-container {
  position: relative;
}

.metric-edit-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.metric-widget-container:hover .metric-edit-button {
  display: block;
}